.container
  .row
    -#Уже введены:
    -#- @forced_rates.each do |rate|
    -#  %li= rate.dollar_rate
  .row
    = simple_form_for @forced_rate_form, url: admin_path, html: { class: 'form-horizontal' } do |f|
      = f.input :dollar_rate
      = f.input :date_to, as: :datetime_picker
      = f.button :submit